<md-toolbar class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Detail" ng-href="#/">
    <md-icon class="material-icons">arrow_back</md-icon>
  </md-button>
  <h1 class="md-toolbar-tools">项目详情</h1>
</md-toolbar>
<md-content style="padding: 0 12px;">
  <div layout-wrap layout="column" layout-align="center center">
    <div class="detail-title">
      <img src="images/logo.png" class="logo-lg"></img>
      <span>民融协12号298期</span>
    </div>
    <label class="detail-income">7.8</label>
    <label class="detail-income-label">年化收益(%)</label>
    <div class="progress-linear">
      <div class="progress-linear-indecator">
        <i class="material-icons">chat_bubble</i>
        <label>70%</label>
      </div>
      <md-progress-linear md-mode="determinate" value="70"></md-progress-linear>
    </div>

  </div>

  <div layout="row" layout-wrap class="card-content card-content-detail">
    <div flex>
      <strong>130.5</strong>
      <label>剩余发行量(万元)</label>
    </div>
    <div flex>
      <strong>30</strong>
      <label>剩余时间(天)</label>
    </div>
    <div flex>
      <strong>5000</strong>
      <label>认购起点(元)</label>
    </div>
  </div>

  <div layout="column" layout-wrap class="detail-list">
    <div flex>
      <span>募集开始时间</span>
      <span style="float:right;">2015-12-15 17:00:00</span>
    </div>
    <div flex>
      <span>募集结束时间</span>
      <span style="float:right;">2016-01-16 17:00:00</span>
    </div>
    <div flex>
      <span>总发行量</span>
      <span style="float:right;">￥1000万元</span>
    </div>
    <div flex>
      <span>剩余发行量</span>
      <span style="float:right;">￥130.5万元</span>
    </div>
    <div flex>
      <span>起息日</span>
      <span style="float:right;">2016-01-16</span>
    </div>
    <div flex>
      <span>到期日</span>
      <span style="float:right;">2016-10-15</span>
    </div>
    <div flex>
      <span>付息方式</span>
      <span style="float:right;">利随本清式</span>
    </div>
  </div>

</md-content>
