<div flex layout="column" tabIndex="-1" role="main">
  <md-toolbar class="md-toolbar">
    <h1 class="md-toolbar-tools">昆明市民营金融行业协会</h1>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="民融协理财">
        <md-content style="background: #f1f1f1;">
          <md-card>
            <a ng-href="#/detail">
              <div layout="row" layout-wrap class="card-content">
                <div flex class="income">
                  <strong>6.2</strong>
                  <label>年化收益(%)</label>
                </div>
                <div flex class="limit">
                  <strong>1000</strong>
                  <label>认购起点(元)</label>
                </div>
                <div flex class="completeness progress-wrapper">
                  <div class="progress ng-binding progress-text">70</div>
                  <div
                     round-progress
                     max="100"
                     current="70"
                     color="#2196F3"
                     bgcolor="#eee"
                     radius="26"
                     stroke="3"
                     semi="false"
                     rounded="false"
                     clockwise="true"
                     responsive="false"
                     duration="800"
                     animation="easeInElastic"></div>
                </div>
              </div>
              <div layout="row" layout-wrap class="card-footer">
                <img src="images/logo.png" class="logo"></img>民融协12号300期
              </div>
            </a>
          </md-card>

          <md-card>
            <a ng-href="#/detail">
              <div layout="row" layout-wrap class="card-content">
                <div flex class="income">
                  <strong>7.8</strong>
                  <label>年化收益(%)</label>
                </div>
                <div flex class="limit">
                  <strong>5000</strong>
                  <label>认购起点(元)</label>
                </div>
                <div flex class="completeness progress-wrapper">
                  <div class="progress ng-binding progress-text">90</div>
                  <div
                     round-progress
                     max="100"
                     current="90"
                     color="#2196F3"
                     bgcolor="#eee"
                     radius="26"
                     stroke="3"
                     semi="false"
                     rounded="false"
                     clockwise="true"
                     responsive="false"
                     duration="800"
                     animation="easeInElastic"></div>
                </div>
              </div>
              <div layout="row" layout-wrap class="card-footer">
                <img src="images/logo.png" class="logo"></img>民融协12号298期
              </div>
            </a>
          </md-card>

        </md-content>
      </md-tab>
      <md-tab label="企业融资">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="创业众筹">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="活动播报">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
    </md-tabs>
  </md-toolbar>
</div>
